.main {
  text-align: center;
  margin: 270px auto 300px;
  max-width: 100%;
}

.main__header {
  font-family: "Cabinet Grotesk Bold";
  font-size: 45px;
  font-weight: normal;
  color: #ffcc00;
  margin-bottom: 35px;
}

.main__text {
  font-family: "Cabinet Grotesk Medium";
  font-size: 20px;
  margin-bottom: 20px;
  color: #ffcc03;
}
